
header {
	background-color: #3F65B2;
	text-align: center;
	height: 70px;
	margin: 0 0 20px 0;
	border-radius: 2%;
	padding: 10px;
	color: white;
}

#sorters, #yesno {
	margin-bottom: 20px;
}

#byName, #byProduct, #byInstitution, #byAdvisor, #byAmount, #byCommission, #byMargin, #byDate {

	display: none;
	

}
